.mdl-layout__header {
  background-color: #222!important;
}

h3 span {
  color: #fead0d;
}

h4 span {
  color: #fead0d;
}

.input-card {
  text-align: center;
  position: relative;
  margin-top: 2vh;
}

.mail-input {
  text-align: center!important;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.mdl-button--raised.mdl-button--colored {
  background: #222!important;
  color: #fead0d!important;
}

.mdl-textfield__label:after {
  background-color: #fead0d!important;
}

.btn-send {
  background-color: #222;
}

.btn-icon {
  color: #fead0d;
}
